.Subscription-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Subscription-container>div:nth-child(1){
    color: green;
}
.Subscription-container>h1{
    font-size: 4rem;
    color: aqua;
}

.Subscription-container>.amount{
    color: orange;
}