.App{
  margin: 0;
  padding: 0 3rem;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 90vh 70vh 50vh;
  background: #000;
}
.App-header{
  grid-column: 1/2;
  grid-row: 1/2;
}
.hero{
  grid-column: 1/2;
  grid-row: 2/3;
}

.blog{
  grid-column: 1/2;
  grid-row: 3/4;
}
.footer{
  grid-column: 1/2;
  grid-row: 4/5;
  padding: 0 5rem  4rem 0;
  background: orange;
}